
@{
    ViewData["Title"] = "VerifyOtp";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var email = TempData["Email"].ToString();
}

<h1>VerifyOtp</h1>

<form asp-action="VerifyOtp" method="post">
    <input type="hidden" name="email" value="@email"/>
    <div class="form-group">
        <label >Otp</label>
        <input type="text" name="otp" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
