@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/main.css" />

<div class="container py-5">
    <p class="team-title text-center align-content-center">My Team</p>
    <div class="row g-4 justify-content-center">
        <div class="col-md-6 d-flex align-items-center p-3">
            <div class="col-5 text-center">
                <img src="~/images/default_team.jpg" alt="Ảnh 1" class="profile-img">
            </div>
            <div class="col-5 profile-info">
                <h4>Thầy</h4>
                <p>Mô tả ngắn gọn về nhân vật này.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <div class="col-5 text-center">
                <img src="~/images/default_team.jpg" alt="Ảnh 2" class="profile-img">
            </div>
            <div class="col-5 profile-info">
                <h4>Người 2</h4>
                <p>Mô tả ngắn gọn về nhân vật này.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <div class="col-5 text-center">
                <img src="~/images/default_team.jpg" alt="Ảnh 3" class="profile-img">
            </div>
            <div class="col-5 profile-info">
                <h4>Người 3</h4>
                <p>Thông tin thêm về nhân vật.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <div class="col-5 text-center">
                <img src="~/images/default_team.jpg" alt="Ảnh 4" class="profile-img">
            </div>
            <div class="col-5 profile-info">
                <h4>Người 4</h4>
                <p>Thông tin thêm về nhân vật.</p>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center p-3">
            <div class="col-5 text-center">
                <img src="~/images/default_team.jpg" alt="Ảnh 5" class="profile-img">
            </div>
            <div class="col-5 profile-info">
                <h4>Người 5</h4>
                <p>Thông tin thêm về nhân vật.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <div class="col-5 text-center">
                <img src="~/images/default_team.jpg" alt="Ảnh 6" class="profile-img">
            </div>
            <div class="col-5 profile-info">
                <h4>Người 6</h4>
                <p>Thông tin thêm về nhân vật.</p>
            </div>
        </div>
    </div>
</div>
