@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core Identity Management </h1>
    <div class="alert ">
        <a class="btn btn-info" asp-action="member">Go to Member Area</a>
    </div>

    <div class="alert">
        <a class="btn btn-info" asp-action="admin">Go to Admin Area</a>
    </div>

    <div class="alert">
        <a class="btn btn-info" asp-controller="Room" asp-action="ChatIndex">Chat With Admin</a>
    </div>

    <div class="alert">
        <a class="btn btn-info" asp-controller="Profile" asp-action="UpdateProfile">Update Profile</a>
    </div>

</div>



@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/knockoutjs/knockout-3.5.1.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/chat.js"></script>
}