@{
    ViewData["Title"] = "I Want Terms and Conditions";
}

<style>

</style>

<div style="padding: 20px 0; margin: 20px 0;background-color: #feda15; height: 100%">
    <div class="confetti-container"></div>

    <div style="background-color: #feda15; padding: 20px; text-align: center; ">
        <h1 style="color: #9B30FF; font-weight: bold; font-size: 32px; margin: 0; font-size: 36px; text-shadow: 3px 3px 6px #ffffff;">Terms and Conditions</h1>
    </div>
    <div style="background-color: white; margin: 0px 160px 50px 160px; padding: 20px; box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5); z-index: 99; position: relative; border-radius:5px">
        <p>Welcome to the "I Want" Game Application and Website. Please read the following terms and conditions carefully as you agree to abide by them by using our platform:</p>
        <ol style="padding-left: 40px; padding-right: 40px; color: #555; font-size: 16px; line-height: 1.8;">
            <li>
                <strong>Overview</strong><br>
                “I Want” is an application that applies the <strong>Augmentative and Alternative Communication (AAC)</strong> method to assist individuals—especially children and adults—who have difficulty communicating. The platform includes educational games, sentence-building tools, and personalization options to enhance engagement and communication development.
            </li>
            <li>
                <strong>User Accounts</strong><br>
                Only parents or legal guardians can create user accounts. During registration, users must provide accurate and current information and are responsible for maintaining the confidentiality of their credentials. <br />
                If any unauthorized activity occurs, users should contact us immediately.
            </li>
            <li>
                <strong>Platform Availability and Usage Limitations</strong><br>
                The app is currently only available on <strong>Android</strong> via the <strong>Google Play Store</strong>. iOS and PC versions are not supported. <br />
                Users are prohibited from: Modifying, copying, reverse-engineering, or attempting to extract the app's source code unless permitted by law.Misusing the platform or violating any part of this agreement.
            </li>
            <li>
                <strong>Features</strong><br>
                <strong>Educational Games:</strong> Tower building, drag-and-drop, and connect-the-dots to enhance motor and cognitive skills. <br />
                <strong>AAC Communication Tools:</strong> Helps users form phrases using customizable cards. <br />
                <strong>Customization:</strong> Change backgrounds, adjust visuals, and personalize the app experience.
            </li>
            <li>
                <strong>Information We Collect</strong><br>
                We collect data to provide a better experience and maintain security.<br />
                <strong>Account Information:</strong> Email, username, and password during registration. <br />
                <strong>Child Information:</strong> Name, age, or other details to personalize content. <br />
                <strong>Device Data:</strong> Includes model, OS version, and app usage.<br />
                <strong>Usage Statistics:</strong> Track in-app behavior to improve performance.<br />
                <strong>Cookies and Tracking:</strong> We may use cookies to understand user behavior and improve user experience.<br />
            </li>
            <li>
                <strong>How We Use Your Information</strong><br>
                We use collected data to: <br />
                Provide, improve, and personalize the app.  <br />
                Secure the platform and prevent unauthorized access. <br />
                Meet legal obligations and protect user rights.
            </li>
            <li>
                <strong>Children's Privacy</strong><br>
                “I Want” is designed for children, but only parents or guardians may create accounts or submit data. <br />
                We do not knowingly collect personal data from children directly. <br />
                We comply with COPPA and GDPR-K standards for children’s privacy. <br />
                If you believe your child’s data has been collected without consent, contact us at <a href="mailto:support@iwantapp.com" style="color: #9B30FF; text-decoration: underline;">support@iwantapp.com</a>, and we will delete the data immediately.
            </li>
            <li>
                <strong>Data Sharing and Third-Party Services</strong><br>
                We <strong>do not sell</strong> personal information. <br />
                Data is only shared under these circumstances: <br />
                <strong>Legal Obligations:</strong> When required by law or to protect our platform and users. <br />
                <strong>Trusted Service Providers:</strong> For hosting, analytics, or technical support. These providers comply with data protection laws.
            </li>
            <li>
                <strong>Security Measures</strong><br>
                We are committed to protecting your information with:Encryption for sensitive data, Limited internal access, Regular security updates and checks. <br />
                Despite our efforts, no digital system is 100% secure. If you suspect a breach, contact us immediately.
            </li>
            <li>
                <strong>Subscriptions and Payments</strong><br>
                Some features (e.g., premium games or customization) may require payment. <br />
                Payments are securely processed. <br />
                Prices may change based on market demand. <br />
                Refer to our <strong>Refund Policy</strong> for information on cancellations and refunds.
            </li>
            <li>
                <strong>Intellectual Property</strong><br>
                All content—including logos, features, and graphics—is owned by <strong>SEP490_10</strong> or used with the appropriate license. <br />
                Some assets are sourced from <strong>open-license</strong> or <strong>public domain</strong> libraries. Reuse of any content without written permission is strictly prohibited.
            </li>
            <li>
                <strong>Updates and Modifications</strong><br>
                We may modify these terms and policies at any time. <br />
                Significant updates will be communicated via app notifications or email. <br />
                Continued use after updates constitutes acceptance of the new terms.
            </li>
            <li>
                <strong>Governing Law</strong><br>
                These terms are governed by the laws of the <strong>Socialist Republic of Vietnam</strong> Any disputes will be resolved under Vietnamese jurisdiction.
            </li>
            <li>
                <strong>Contact Information</strong><br>
                For questions or concerns, please contact us: <br />
                <strong>Email:</strong> <a href="mailto:support@iwantapp.com" style="color: #9B30FF; text-decoration: underline;">support@iwantapp.com</a> <br/>
                <strong>Website:</strong> <a href="https://iwantweb.azurewebsites.net/">I Want Website</a>
            </li>
        </ol>
        <p style="padding-left: 40px;">If you have any questions about these Terms and Conditions, please contact us at <a href="mailto:support@iwantapp.com" style="color: #9B30FF; text-decoration: underline;">support@iwantapp.com</a>.</p>

        <div class="endSeal" style="display: flex; justify-content: flex-end; margin-right: 200px">
            <img src="/images/redSeal.svg" style="width: 20%;" />
        </div>
    </div>
</div>

@* confetti background animation *@
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const confettiContainer = document.querySelector('.confetti-container');

        function createConfetti() {
            const confetti = document.createElement('div');
            confetti.classList.add('confetti');
            confetti.style.left = Math.random() * 100 + 'vw';
            confetti.style.backgroundColor = getRandomColor();
            confetti.style.animationDuration = Math.random() * 2 + 3 + 's';
            confetti.style.width = Math.random() * 5 + 2 + 'px';
            confetti.style.height = Math.random() * 25 + 15 + 'px';

            confettiContainer.appendChild(confetti);

            setTimeout(() => confetti.remove(), 5000);
        }

        function getRandomColor() {
            const colors = [
                '#FFD700', '#FF4500', '#1E90FF', '#32CD32', '#FF69B4', '#8A2BE2',
                '#FF6347', '#00FA9A', '#9400D3', '#FF7F50', '#00CED1', '#FFB6C1',
                '#4B0082', '#ADFF2F'
            ];
            return colors[Math.floor(Math.random() * colors.length)];
        }

        setInterval(createConfetti, 200);
    });
</script>

