@model GameViewModel

@{
    ViewData["Title"] = "Create Video Game";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a asp-action="Index" asp-controller="Game" style="text-decoration:none;">
    <i class="fa-solid fa-arrow-left" style="margin:0; font-size:1.4rem; font-weight:800; color:#e67e22;"></i>
</a>

<div class="mt-5">
    <h1 style="margin:0 0 10px; font-size:1.8rem; font-weight:800; color:#e67e22;">CREATE VIDEO GAME</h1>
    <hr style="border-top:5px solid #FEDA15; margin-bottom:20px;" />

    <div class="row">
        <div class="col-md-7">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="Name" class="control-label" style="font-weight:600; color:#333;"></label>
                    <input asp-for="Name" class="form-control" style="border:1px solid #ccc;" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="control-label" style="font-weight:600; color:#333;"></label>
                    <textarea asp-for="Description" class="form-control" style="height:250px; border:1px solid #ccc;" readonly>
                        @Html.Raw(Model.Description)
                    </textarea>
                </div>
                <div class="mb-5">
                    <label asp-for="VideoUrl" class="control-label" style="font-weight:600; color:#333;"></label>
                    <input asp-for="VideoUrl" class="form-control" style="border:1px solid #ccc;" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Create"
                           style="display:block; margin:20px auto 0; background-color:#fff; color:#000; border:3px solid #FEDA15; height:50px; width:150px; border-radius:5px; font-weight:600; cursor:pointer;"/>
                </div>
            </form>
        </div>
    </div>
</div>
