@using IWant.BusinessObject.Enitities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<link rel="stylesheet" href="~/css/main.css" />
@{
    var loggedIn = User.Identity.IsAuthenticated;
    var isAdmin = User.IsInRole("Admin");
    var role = isAdmin ? "(Admin)" : "(Member)";
}

@if (loggedIn)
{
    var user = await UserManager.GetUserAsync(User);
    var imageUrl = user?.ImageUrl ?? "/images/default-avatar.png";


    <li class="nav-item">
        <div class="nav-link text-dark">
            <img src="@imageUrl" id="Avatar" class="avatar-layout" style="width: 40px; height: 40px; border-radius: 50%;border: 1px solid #FEDA15">
            <div class="dropdown" id="dropdown">
                @if (User.IsInRole("Member"))
                {
                    <a class="name">
                        PROFILE
                    </a>
                    <a asp-action="UpdateProfile" asp-controller="Profile"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-regular fa-user fa-fw"></i> MY PROFILE
                    </a>
                    <a asp-action="ChangePassword" asp-controller="Profile"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-solid fa-lock fa-fw"></i> CHANGE PASSWORD
                    </a>
                    <a asp-action="ChatIndex" asp-controller="Room"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-solid fa-headset"></i> SUPPORTING CHAT
                    </a>
                    <a asp-controller ="Blog" asp-action="Index" asp-route-filterType="all"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-solid fa-blog fa-fw"></i> HISTORY BLOG
                    </a>
                    <a asp-action="SignOut" asp-controller="Identity"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-solid fa-right-from-bracket fa-fw"></i> SIGN OUT
                    </a>
                }
                else if (User.IsInRole("Admin"))
                {
                    <a class="name">
                        PROFILE
                    </a>
                    <a asp-action="Statistic" asp-controller="Admin"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-solid fa-chart-simple"></i> DASHBOARD
                    </a>
                    <a asp-action="SignOut" asp-controller="Identity"
                       class="list-group-item d-flex align-items-center identity-item">
                        <i class="fa-solid fa-right-from-bracket"></i> SIGN OUT
                    </a>
                }
            </div>
        </div>
    </li>
}
else
{

    <li class="nav-item nav-link text-dark ">

        <a style="font-weight:bold" asp-controller="Identity" asp-action="Signin"
           class=" d-flex align-items-center identity-item">
            <i style="display:none" class="fa-solid fa-right-to-bracket"></i>
            SIGN IN
        </a>
    </li>
    <li class="nav-item nav-link text-dark">

        <a style="font-weight:bold" asp-controller="Identity" asp-action="Signup"
           class=" d-flex align-items-center identity-item ">
            <i style="display:none" class="fa-solid fa-user-plus"></i>
            SIGN UP
        </a>
    </li>
}
