@{
    var loggedIn = User.Identity.IsAuthenticated;
    var isAdmin = User.IsInRole("Admin");
    var role = "";
    if (isAdmin)
    {
        role = "(Admin)";
    }
    else
    {
        role = "(Member)";
    }
}
@if (loggedIn)
{
    <li style="margin: auto 0" class="nav-item">
        <a class="nav-link text-dark" asp-controller="Profile" asp-action="UpdateProfile">
            <i class="fa-regular fa-user" style="font-size:30px; color: #9B30FF"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: #9B30FF;" asp-controller="Identity" asp-action="Signout">SIGN OUT</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" style="color: #9B30FF;" asp-controller="Identity" asp-action="Signin">SIGN IN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: #9B30FF;" asp-controller="Identity" asp-action="Signup">SIGN UP</a>
    </li>
}