@using IWant.BusinessObject.Enitities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var imageUrl = user?.ImageUrl ?? "/images/default-avatar.png";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Athiti:wght@400;500;600&display=swap" rel="stylesheet">

    <style>
        .avatar-layout {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid black;
        }

        .sidebar {
            background: #FFFFFF;
            padding-top: 20px;
            font-family: 'Arbutus Slab', serif;
            top: 0;
            bottom: 0;
            margin: 20px 0px 20px 20px;
            border-radius: 10px;
        }

        .sidebar-fixed {
            width: 16.6667vw;
            height: 100vh;
            top: 0;
            left: 0;
            height: 100vh;
            overflow-y: auto;
        }

        .sidebar-brand {
            text-align: center;
            margin-bottom: 10px;
        }

            .sidebar-brand img {
                width: 50%;
                height: 50%;
            }

        .list-group {
            margin-top: 20px;
            margin-right: 15px;
            margin-left: 15px;
        }

        .list-group-item {
            background-color: rgba(255, 255, 255, 0.1);
            color: #000000;
            border: none;
            font-family: 'Athiti', sans-serif;
            font-size: 14px;
        }

            .list-group-item a {
                text-decoration: none;
                color: #010101;
                font-family: 'Athiti', sans-serif;
            }

            .list-group-item:hover {
                text-decoration: none;
                background-color: #f4f4f4;
                color: #000000;
                border-radius: 0 10px 10px 0;
            }

            .list-group-item i {
                margin-right: 15px;
                font-size: 20px;
                color: #000000;
                background-color: #FFFFFF;
                padding: 8px;
                border-radius: 8px;
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .list-group-item:hover i {
                background-color: #FEDA15;
                color: #FFFFFF;
            }

        .navbar {
            align-items: center;
            justify-content: space-between;
            background: white;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            top: 0;
            right: 0;
            z-index: 1000;
        }

        .navbar-left .logo {
            font-size: 18px;
            font-weight: bold;
        }

        .navbar-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .content {
            padding: 20px;
            margin-top: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
            font-family: 'Athiti', sans-serif;
        }

        .dropdown {
            position: absolute;
            top: 50px;
            right: 0;
            background: white;
            color: black;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            display: none;
            margin-top: 10px;
            flex-direction: column;
            padding: 10px 0;
        }

            .dropdown a {
                padding: 12px 15px;
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
            }

        .dropdown-menu.show {
            display: block !important;
        }

    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-white p-3 shadow position-relative">
                <div class="sidebar-fixed position-fixed">
                    <div class="sidebar-brand">
                        <a asp-action="Index" asp-controller="Home"><img src="~/images/iWantLogo.png" alt="Logo"></a>
                    </div>

                    <div class="list-group">
                        <h6 class="text-muted">DASHBOARD</h6>
                        <a asp-action="Statistic" asp-controller="Admin" class="list-group-item d-flex align-items-center">
                            <i class="fa-solid fa-chart-line"></i>Statistic
                        </a>
                        <h6 class="text-muted mt-3">MANAGE</h6>

                        <!-- Additional links for Shop, initially hidden -->

                        <a asp-controller="Room" asp-action="ChatIndex" class="list-group-item d-flex align-items-center">
                            <i class="fa-brands fa-rocketchat"></i>Chat With Member
                        </a>
                        <a asp-controller="Blog" asp-action="Index" class="list-group-item d-flex align-items-center">
                            <i class="fa-solid fa-blog"></i>Blogs
                        </a>
                        <a asp-controller="Account" asp-action="Index" class="list-group-item d-flex align-items-center">
                            <i class="fa-solid fa-users"></i>Accounts
                        </a>
                        @* <a asp-controller="Auth" asp-action="ManageCustomers" class="list-group-item d-flex align-items-center">
                            <i class="fa-solid fa-shield-halved"></i>Privacy & Police
                        </a>
                        <a asp-controller="Feedback" asp-action="FeedbackIndex" class="list-group-item d-flex align-items-center">
                            <i class="fa-solid fa-pen"></i>Feedback
                        </a> *@
                        <!--
                        <h6 class="text-muted mt-3">USER</h6>
                        <div id="profileSection">
                            <a href="#" class="list-group-item d-flex align-items-center profile-link">
                                <i class="fa-solid fa-user"></i>Profile
                            </a>
                            <div id="additionalLinksContainer"></div>
                        </div>
                        -->
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <nav class="navbar navbar-expand-lg bg-white shadow-sm px-3 ">
                    <div class="container-fluid">
                        <span class="navbar-brand fw-bold">ADMIN</span>
                        <div style="cursor:pointer" class="d-flex align-items-center">
                            <img src="@imageUrl" alt="User Avatar" class="rounded-circle border border-secondary avatar-layout" id="avatar">
                            <div class="dropdown" id="dropdown">
                                <a asp-action="UpdateProfile" asp-controller="Profile" class="list-group-item d-flex align-items-center">
                                    <i class="fa-regular fa-user"></i> My Profile
                                </a>
                                <a asp-action="ChangePassword" asp-controller="Profile" class="list-group-item d-flex align-items-center">
                                    <i class="fa-solid fa-lock"></i> Change Password
                                </a>
                                <a asp-action="SignOut" asp-controller="Identity" class="list-group-item d-flex align-items-center">
                                    <i class="fa-solid fa-right-from-bracket"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div style="min-height: 90vh" class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <partial name="_Notification" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const avatar = document.getElementById("avatar");
            const dropdown = document.getElementById("dropdown");

            avatar.addEventListener("click", function (event) {
                // Toggle trạng thái hiển thị của dropdown
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none";  // Nếu đang hiển thị thì ẩn đi
                } else {
                    dropdown.style.display = "block";  // Nếu đang ẩn thì hiển thị
                }
                event.stopPropagation();  // Ngừng sự kiện để không đóng dropdown khi click vào avatar
            });

            // Khi click vào bất kỳ đâu ngoài dropdown, đóng dropdown
            document.addEventListener("click", function () {
                dropdown.style.display = "none";
            });

            // Giữ lại sự kiện click trong dropdown để tránh bị đóng khi click vào dropdown
            dropdown.addEventListener("click", function (event) {
                event.stopPropagation();  // Ngừng sự kiện để dropdown không bị đóng khi click vào
            });
        });
    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>
